# CVS default ignores begin
tags
TAGS
.make.state
.nse_depinfo
*~
#*
.#*
,*
_$*
*$
*.old
*.bak
*.BAK
*.orig
*.rej
.del-*
*.a
*.olb
*.o
*.obj
*.so
*.exe
*.Z
*.elc
*.ln
core
# CVS default ignores end


VisualC/project/.vs
VisualC/project/Debug
VisualC/project/Release
VisualC/ruby
windeps
VisualC/project/adanaxis.vcxproj.user
VisualC/project/Backup/project.sln
VisualC/project/tesseracttrainer.vcxproj.user
VisualC/project/UpgradeLog.htm
