[submodule "adanaxis-win32deps"]
	path = adanaxis-win32deps
	url = https://github.com/mushware/adanaxis-win32deps.git
[submodule "adanaxis-data"]
	path = adanaxis-data
	url = https://github.com/mushware/adanaxis-data.git
[submodule "adanaxis-mushruby"]
	path = adanaxis-mushruby
	url = https://github.com/mushware/adanaxis-mushruby.git
